*
yay
obsidian_vault

!.config/fish
!.config/hypr
!.config/fastfetch
!.config/gh
!.config/kitty
!.config/nvim
!.config/obsidian

!.xmonad
!.vim
!.alacritty.toml
!.bashrc
!.vimrc
!README.md
!.gitignore
!.gitconfig
!.gitattributes
!root_etc_xdg_picom.conf