*
yay
obsidian_vault

!.config
!.config/fish
!.config/fish/config.fish
!.config/hypr
!.config/fastfetch
!.config/fastfetch/config.jsonc
!.config/gh
!.config/gh/config.yml
!.config/gh/hosts.yml
!.config/kitty
!.config/kitty/kitty.conf
!.config/nvim
!.config/nvim/*.lua
!.config/nvim/after/plugin/*.lua
!.config/nvim/lua/shawal/*.lua
!.config/nvim/plugin/*.lua
!.config/obsidian
.config/*

!.xmonad
!.vim
!.alacritty.toml
!.bashrc
!.vimrc
!README.md
!.gitignore
!.gitconfig
!.gitattributes
!root_etc_xdg_picom.conf
